<strong>Olá, {{student}}!</strong>
<p>Obrigada por entrar em contato conosco.</p>
<p>
  <strong> Sua solicitação: </strong> {{order}} <br/>
  <strong> Nossa resposta: </strong> {{answer}} <br/>
  <br/>
  <p>Esperamos ter te ajudado. Qualquer coisa, só falar!</p>
</p>
